.idea
.vscode
.idaklu_wasm
.pyodide-xbuildenv-0.29.3
.pyodide_build
.casadi_wasm
build
build_casadi_wasm
casadi-3.7.0
emsdk
SuiteSparse/
sundials
cmake-build-*
*.egg-info
__pycache__
.venv
.env
.nox
.DS_Store

setup.log
build_sundials
.idaklu
*.so
build

# Extra directories for local work
workspace
deploy
PyBaMM

# benchmark results
performance_results.json